.homeContainer {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.homeContainer .text {
  color: #000;
  margin-left: 5%;
  font-weight: 600;
}

.homeContainer h3 {
  margin-bottom: 5%;
}

.homeContainer h1 {
  font-size: 36px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 7.5%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

p.register {
  font-weight: 300;
  display: flex;
  justify-content: center;
}

span.em {
  color: #FFCC00;
}